
/* Start General Statments */
html{
  --mainColor :#fed049;
  --secondaryColor : #007580;
  --red:#e01b24;
  --grey:#fafafa;
}
@font-face {
  font-family: "Inter";
  src: url("../public/Fonts/Inter-VariableFont_slnt\,wght.ttf");
}
body{
    font-family: 'Inter', sans-serif;
    background-image: url(../src/assets/images/background_pattren.png);
    background-size: cover;
}
p{
  margin: 0;
}
.bg-grayColor{
  background-color: #c5c5c5;
}
.bg-secondaryColor{
  background-color: var(--secondaryColor);
}
.bg-secondaryColor-op{
  background-color:#0075807a
}
.text-main-color{
  color: var(--mainColor);
}
.bg-main-color{
  background-color: var(--mainColor);
}
.text-sec-color{
  color: var(--secondaryColor);
}
.text-small{
  font-size: 12px;
}
.outlint-focus{
  border: 0;
  border-bottom:1px solid var(--mainColor) ;
  padding-bottom: 7px;
}
.outlint-focus:focus{
  border: 0;
  border-bottom:1px solid var(--mainColor) ;
  outline: 0;
}
.custom-padding{
  padding: 2px 30px;
}
/* End General Statments */
/* Start Header  */
/* Custom toogle  */
.switch{
  width: 60px;
  height: 35px;
  transition: 1s;
}
.switch span{
  height:35px;
  width: 35px;
  transition: 1s;
}
/* Start Select box */
/* Start Arrow */
.arrow{
  border: 7px solid transparent;
  border-color: var(--secondaryColor) transparent transparent transparent;
  
}

/* End   Arrow */
.selecteList{
  border: none;
  outline: none;
  border-radius: 0;
  background-image:none
}
.selecteList-mentor{
  background-image:none;
  border-color: var(--mainColor);
  background-color: #e6f2f2;
}
.selecteList-mentor:focus{
  border-color: var(--mainColor);
}
.arrow-mentor{
  position: relative;
  left: -28px;
}
.selectBox{
  border-bottom:1px solid white ;
  padding-bottom: 7px;
}
.selectIcon-without-circle{
  font-size: 24px;
  color: white; 
}
.selectIcon-with-circle{
  padding: 3px;
  font-size: 22px;
  color: white;
  border: 1px solid #fff;
  border-radius: 50%;
}
.form-select:focus{
  box-shadow: none;
}
/* End Select box */
/* End Header  */
/* Start Mentor */
/* Start Custom check box */
.form-check-input:checked{
  background-color: var(--mainColor);
  border-color: var(--mainColor);
}
.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}
/* .auth-form-container {
  padding: 5rem;
  border-radius: 10px;
  margin: 0.5rem;
} */
.inp-field {
  border: none;
  border-bottom: 1px solid #fed049;
  padding: 5px;
  margin-bottom: 20px;
  min-width: 300px;
  outline: none;
}
.inp-field::placeholder {
  color: #007580;
  font-size: 18px;
}
.inp-field:focus {
  border: none;
  border-bottom: 1px solid #fed049;
  padding: 5px;
  margin-bottom: 20px;
  min-width: 300px;
  outline: none;
}
.error-triangle {
  position: absolute;
  right: 5px;
  top: 10px;
  font-size: 16px;
  color: red;
  display: none;
}
.pass-container {
  position: relative;
  width: 300px;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}
.pass-container .toggle {
  position: absolute;
  top: 8px;
  right: 5px;
  color: #007580;
  cursor: pointer;
}
button {
  border: none;
  background-color: #fafafa;
  border-radius: 10px;
  cursor: pointer;
}
.login-form .link-btn {
  background: none;
  color: #000000;
  text-align: left;
}
.login-form .log {
  width: 100px;
  background-color: #007580;
  color: #fafafa;
}
.login-form .log:hover {
  background-color: #005860;
  color: #fafafa;
}
.login-social {
  justify-content: space-evenly;
  margin: 15px 0px;
}
.login-social .soc-log-btn {
  background-color: #000000;
  border-radius: 50%;
  width: 32px;
  height: 32px;
}
.login-social svg {
  background-color: #000000;
  color: #fafafa;
  font-size: 30px;
  border-radius: 50%;
  padding: 5px;
  position: relative;
  left: -5px;
}
/* .login-social svg:last-child {
  background-color: #000000;
  color: #fafafa;
  padding: 0px;
} */
.switch {
  display: flex;
  align-items: flex-start;
  margin: 5px 0;
}
.switch .link-btn {
  background: none;
  color: #007580;
}
@media (max-width: 567px) {
  .switch {
    justify-content: center;
  }
}
/* start register */
.register-head {
  text-align: left;
  margin-bottom: 40px;
}
@media (min-width: 567px) {
  .inp-holder {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    column-gap: 60px;
  }
}
.inp-container {
  width: 300px;
  position: relative;
}
.login-form .reg {
  width: 100px;
  background-color: #007580;
  color: #fafafa;
  /* margin-right: 0px;
  margin-bottom: 30px !important; */
  margin: 0px;
}
@media (min-width: 567px) {
  .signup-social-holder {
    display: flex;
    justify-content: flex-start;
  }
  .login-form .reg {
    margin-right: 40px;
  }
}
@media (max-width: 567px) {
  .login-form .reg {
    margin-bottom: 30px !important;
  }
  .signup-social {
    margin-bottom: 20px;
  }
}

.login-form .reg:hover {
  background-color: #459aa2;
  color: #fafafa;
}
.signup-social {
  align-items: center;
}
.signup-social .soc-log-btn {
  /* background-color: #000000;
  border-radius: 50%;
  width: 32px;
  height: 32px; */
  background-color: transparent;
  width: 32px;
  margin: 0 5px;
}
.signup-social p {
  margin: 0 10px;
  font-weight: bold;
}
.signup-social svg {
  background-color: #000000;
  color: #fafafa;
  font-size: 30px;
  border-radius: 50%;
  padding: 5px;
  margin: 0 10px;
}
.switch-register {
  display: flex;
  align-items: center;
  margin: 5px 0;
}
.switch-register p {
  margin: 0 25px 0 0;
  color: #007580;
}
.switch-register input[type="checkbox"] {
  margin-top: 7px;
}
.switch-register input[type="checkbox"]:checked {
  background-color: #fed049;
  border: none;
}
/* end register */
